body{
    margin-left:5%;
    margin-right:5%;
}

mat-toolbar{
    display: inline-flex;
    //left towards right (default)
    flex-direction: row;
    //all on one line (default)
    flex-wrap:wrap;
    //evenly distribute items in line
    justify-content: space-between;
    //y-axis centering 
    align-items: center;
}

#dropDownContainer{
    width:35%;
    display: inline-flex;
    //left towards right(default)
    flex-direction:row;
    //all on one line (default)
    flex-wrap:nowrap;
    //evenly distribute items in line
    justify-content:space-between;
    //y-axis centering
    align-items:center;
}

#socialContainer{
    display: inline-flex;
    //left towards right (default)
    flex-direction:row;
    //all on one line (default)
    flex-wrap:wrap;
    //evenly distribute items in line
    justify-content:flex-end;
    //y-xis centering
    align-items:center;
}

#searchNAccountContainer{
    display: inline-flex;
    flex-direction:row;
    //all on one line (default)
    flex-wrap:wrap;
    //evenly distribute items in line
    justify-content:flex-end;
    //y-xis centering
    align-items:center;
}

mat-form-field{
    font-size:9px;
}

.iconFormatting{
    opacity:85%;
    height:22px;
    width:22px;
}

#instagramFormatting{
    opacity:85%;
    height:21px;
    width:21px;
    margin-right:10px;
    margin-left:5px;
}