<mat-toolbar>
  <!-- Title -->
  <h2>Pineapple</h2>

  <!-- Navigation Drop Down -->
  <div class="center">
    <button mat-button [matMenuTriggerFor]="navigate">Navigate
    <mat-icon class="iconStyling">keyboard_arrow_down</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="about">About
    <mat-icon class="iconStyling">keyboard_arrow_down</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="services">Services
    <mat-icon class="iconStyling">keyboard_arrow_down</mat-icon></button>
    <button mat-button [matMenuTriggerFor]="signup">Sign Up
    <mat-icon class="iconStyling">keyboard_arrow_down</mat-icon></button>
  </div>

  <!-- Icons -->
  <div id="icons">
    <mat-icon>facebook</mat-icon>
    <mat-icon>tiktok</mat-icon>
    <img src="../../../icons/twitter.png">
  </div>

  <!-- Search Bar -->
  <mat-form-field>
    <input type="text" matInput>
  </mat-form-field>

  <!-- Sign In -->
  <button mat-button class="rightAdjust">Sign In</button>
</mat-toolbar>

<!-- DropDown Menu -->
<mat-menu #navigate="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-menu #about="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-menu #services="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-menu #signup="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>