<mat-toolbar>
  <!-- Title -->
  <div>
    <h2>Pineapple</h2>
  </div>

  <div id="dropDownContainer">
    <!-- Navigation Drop Down -->
    <button mat-button [matMenuTriggerFor]="home">Home
      <!--mat-icon>keyboard_arrow_down</mat-icon-->
    </button>
    <button mat-button [matMenuTriggerFor]="services">Services
      <!--mat-icon>keyboard_arrow_down</mat-icon-->
    </button>
    <button mat-button [matMenuTriggerFor]="about">About
    </button>
    <button mat-button [matMenuTriggerFor]="tombstone">Tombstone
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
  </div>
  <!-- Icons -->
  <div id="socialContainer">
    <mat-icon>facebook</mat-icon>
    <mat-icon>tiktok</mat-icon>
  </div>
  <!--img class="iconFormatting" src="../../../icons/twitter.png" alt="Twitter Icon"-->
  <!--img id="instagramFormatting" src="../../../icons/instagram.png" alt="Instagram Icon"-->
  <!-- Search Bar -->
  <!--mat-form-field appearance=outline>
      <input type="text" placeholder="Search..." matInput>
      <mat-icon id="searchIcon" matPrefix>search</mat-icon>
    </mat-form-field-->
  <!-- Sign In -->
  <div id="searchNAccountContainer">
    <mat-icon>search</mat-icon>
    <mat-icon>account_circle</mat-icon>
  </div>
</mat-toolbar>

<!-- DropDown Menu -->
<mat-menu #home="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-menu #services="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-menu #about="matMenu">
  <button mat-menu-item>Item 1</button>
  <button mat-menu-item>Item 2</button>
</mat-menu>

<mat-menu #tombstone="matMenu">
  <button mat-menu-item>Create Tombstone</button>
  <button mat-menu-item>Find Tombstone</button>
  <button mat-menu-item>More Info</button>
</mat-menu>