<!-- Welcome Header -->
<mat-card class="heading">
    <mat-card-title>Welcome Pineapple</mat-card-title>
    <mat-card-subtitle>Sub heading</mat-card-subtitle>
    <mat-card-content>Body</mat-card-content>
    <mat-card-actions>
        <button>Create Account</button>
    </mat-card-actions>
</mat-card>

<!-- Search Section -->
<mat-card class="search">
    <mat-card-title>Find The Tombstone</mat-card-title>
    <mat-card-subtitle>Sub heading</mat-card-subtitle>
    <mat-card-actions>
        <mat-form-field appearance="legacy">
            <input matInput placeholder="Name, Location, Date">
            <mat-icon matPrefix>search</mat-icon>
          </mat-form-field><br>
          <button mat-raised-button>Earth View</button>
          <button mat-raised-button>Create a Grave</button>
    </mat-card-actions>
</mat-card>

<!-- About section -->
<mat-card class="about">
    <mat-card-title>About The Project</mat-card-title>
    <mat-card-subtitle>Sub heading</mat-card-subtitle>
    <mat-card-content>Body</mat-card-content>
</mat-card>