<div id="mat-footer">
    <div id="slogan">
        <h2>Slogan</h2>
    </div>
    <div id="childContainer">
        <div class="block">
            <h2 class="noMargin">Heading</h2>
            <ul>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
            </ul>
        </div>
        <div class="block">
            <h2 class="noMargin">Heading</h2>
            <ul>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
            </ul>
        </div>
        <div class="block">
            <h2 class="noMargin">Heading</h2>
            <ul>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
            </ul>
        </div>
        <div class="block">
            <h2 class="noMargin">Heading</h2>
            <ul>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
            </ul>
        </div>
        <div class="block">
            <h2 class="noMargin">Heading</h2>
            <ul>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
                <li href="google.ca">Lorem Ipsem</li>
            </ul>
        </div>
    </div>
</div>